[Unit]
Description=LEMP
After=etcd.service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
#KillMode=none
ExecStartPre=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml kill
ExecStartPre=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml rm --force
ExecStartPre=-/usr/bin/sudo rm -rf /var/lib/docker/linkgraph.db
ExecStartPre=/usr/bin/systemctl restart docker
ExecStart=/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml up --force-recreate
ExecStartPost=/usr/bin/etcdctl set /LEMP Running
ExecStop=/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml stop
ExecStopPost=/usr/bin/etcdctl rm /LEMP
ExecStopPost=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml kill
ExecStopPost=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml rm --force
Restart=always
#RestartSec=30s

[X-Fleet]
Conflicts=lanti-debian.service
