[Unit]
Description=LEMP
After=etcd.service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
#KillMode=none
ExecStartPre=-/usr/bin/docker cp sqlbackup:/var/lib/mysql /home/core/sql && /usr/bin/tar -zcvf /home/core/sql/sqlbackup-ExecStartPre-$(date +%Y-%m-%d_%H-%M-%S).tar.gz /home/core/sql/mysql --remove-files
ExecStartPre=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml kill
ExecStartPre=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml rm --force
#ExecStartPre=-/usr/bin/sudo rm -rf /var/lib/docker/linkgraph.db
#ExecStartPre=/usr/bin/systemctl restart docker
ExecStart=/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml up --force-recreate
ExecStartPost=/usr/bin/etcdctl set /LEMP Running
ExecStop=/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml stop
ExecStopPost=/usr/bin/etcdctl rm /LEMP
#ExecStopPost=-/usr/bin/docker export --output="/home/core/work/lemp/sqlbackup.tar" sqlbackup
ExecStopPost=-/usr/bin/docker cp sqlbackup:/var/lib/mysql /home/core/sql && /usr/bin/tar -zcvf /home/core/sql/sqlbackup-ExecStopPost-$(date +%Y-%m-%d_%H-%M-%S).tar.gz /home/core/sql/mysql --remove-files
#ExecStopPost=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml kill
#ExecStopPost=-/opt/bin/docker-compose --file /home/core/work/lemp/docker-compose.yml rm --force
Restart=always
#RestartSec=30s

[X-Fleet]
Conflicts=lanti-debian.service
